%p#notice= notice

%p
  %b 日時:
  = I18n.l(@article.entry_at)
%p
  %b タイトル:
  = @article.title
%p
  %b 本文:
  = simple_format(@article.content)
%p
  %b 公開:
  = @article.published ? "公開中" : "非公開"
%p
  %b キャッチイメージ:
  = @article.catch_image

= link_to 'Edit', edit_admin_article_path(@article)
\|
= link_to 'Back', admin_articles_path
